<template lang="html">
  <div :id="id"><slot v-if="icon" /></div>
</template>

<script>
import L from 'leaflet'
/**
 * Options: https://leafletjs.com/reference-1.3.0.html#icon
 */
export default {
  name: 'LIcon',
  inject: ['context'],
  props: {
    options: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      context: this.context ? this.context.layer : null
    }
  },
  computed: {
    id () {
      return 'vue-leaflet-icon-' + this._uid
    },
    icon () {
      const opts = Object.keys(this.options)
      return opts.length ? L.icon(this.options) : null
    }
  },
  watch: {
    icon (val) {
      if (val && this.context) this.context.setIcon(this.icon)
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (this.icon && this.context) this.context.setIcon(this.icon)
    })
  }
}
</script>
