<template lang="html">
  <div
    :id="uid"
    :style="style">
    <slot
      v-if="layer" />
  </div>
</template>

<script>
import L from 'leaflet'
import leafletDefaultMarker from '../../utils/leafletDefaultMarker'
import LeafletLayer from '../../mixins/LeafletLayer.vue'
leafletDefaultMarker()
/**
 * Options: https://leafletjs.com/reference-1.3.0.html#map
 */
export default {
  name: 'LMap',
  mixins: [
    LeafletLayer
  ],
  props: {
    /**
     * Array of latitude, longitude, default in Paris
     */
    center: {
      type: [Object, Array],
      default: () => [48.864716, 2.349014] // Made in Paris
    },
    /**
     * Any option from leaflet https://leafletjs.com/reference-1.3.0.html#map-option
     */
    options: {
      type: Object,
      default: () => {}
    },
    /**
     * Zoom level
     */
    zoom: {
      type: Number,
      default: 6
    },
    /**
     * Map height in pixels
     */
    height: {
      type: [Number, String],
      default: 300
    },
    /**
     * Map width in pixels
     */
    width: {
      type: [Number, String]
    }
  },
  computed: {
    style () {
      const addPx = int => int + 'px'
      let s = {}
      s.height = typeof (this.height) === 'string' ? this.height : addPx(this.height)
      if (this.width) s.width = typeof (this.width) === 'string' ? this.width : addPx(this.width)
      return s
    },
    centerArray () {
      return Array.isArray(this.center)
    },
    position () {
      const lat = this.centerArray ? this.center[0] : this.center.lat
      const lng = this.centerArray ? this.center[1] : this.center.lng
      const zoom = this.zoom
      return { center: { lat, lng }, zoom }
    },
    latLngCenter () {
      return this.centerArray ? this.center : L.latLng(this.center.lat, this.center.lng)
    },
    minZoom () {
      return this.options && this.options.minZoom ? this.options.minZoom : null
    },
    maxZoom () {
      return this.options && this.options.maxZoom ? this.options.maxZoom : null
    }
  },
  watch: {
    // style () {
    //   if (this.layer) {
    //     this.$nextTick(() => {
    //       this.layer.invalidateSize()
    //     })
    //   }
    // },
    minZoom (val) {
      if (val && this.layer) this.layer.setMinZoom(val)
    },
    maxZoom (val) {
      if (val && this.layer) this.layer.setMaxZoom(val)
    },
    position (val, old) {
      if (this.layer) {
        if (val.center.lat !== old.center.lat || val.center.lng !== old.center.lng) {
          this.panTo(val.zoom !== old.zoom)
        } else if (val.zoom !== old.zoom) {
          this.layer.setZoom(val.zoom)
        }
      }
    }
  },
  methods: {
    init () {
      this.layer = L.map(this.uid, this.options)
        .setView(this.center, this.zoom)
      for (let e of this.listeners) {
        this.layer.on(e, (event) => this.$emit(e, event))
      }
      this.$nextTick(() => {
        this.$emit('ready', this.layer)
      })
    },
    panTo (fly) {
      if (fly) this.layer.flyTo(this.center, this.zoom)
      else this.layer.panTo(this.latLngCenter)
    },
    invalidateSize () {
      if (this.layer) this.layer.invalidateSize()
    }
  }
}
</script>

<style lang="scss">
@import '../../../node_modules/leaflet/dist/leaflet.css';
div[id^="vue-leaflet-popup-"],
div[id^="vue-leaflet-tooltip-"] {
    display: none;
}
.leaflet-popup-content {
  div[id^="vue-leaflet-popup-"] {
      display: block;
  }
}
.leaflet-tooltip {
  div[id^="vue-leaflet-tooltip-"] {
      display: block;
  }
}
</style>
