<script>
import LeafletLayer from '../../mixins/LeafletLayer.vue'
/**
 * Options: https://leafletjs.com/reference-1.3.0.html#tilelayer
 */
export default {
  name: 'LTileLayer',
  inject: ['context'],
  mixins: [
    LeafletLayer
  ],
  props: {
    /**
     * Url of the tile server
     */
    url: {
      type: String,
      default: 'https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png'
    },
    /**
     * Options
     */
    options: {
      type: Object,
      default: () => {
        return {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }
      }
    }
  },
  watch: {
    options: {
      handler (val) {
        this.redraw()
      },
      deep: true
    },
    url () {
      this.redraw()
    }
  },
  methods: {
    redraw () {
      this.destroy()
      this.init()
    }
  }
}
</script>
