<template lang="html">
  <div :id="uid"><slot v-if="layer" /></div>
</template>

<script>
import L from 'leaflet'
import leafletEvents from '../utils/leafletEvents'
import leafletProps from '../utils/leafletProps'
/**
 * @mixin
 */
export default {
  provide () {
    const context = {}
    Object.defineProperty(context, 'layer', {
      enumerable: true,
      get: () => this.layer
    })
    return { context }
  },
  props: {
    id: {
      type: String,
      default: null
    },
    /**
     * The options
     */
    options: {
      type: Object,
      default: () => {}
    },
    /**
     * Prop to add a popup to the layer
     */
    popup: {
      default: null
    },
    /**
     * Prop to add a tooltip to the layer
     */
    tooltip: {
      default: null
    }
  },
  data () {
    return {
      context: this.context ? this.context.layer : null,
      layer: null
    }
  },
  computed: {
    // returns the name of the leaflet class to instanciate
    leafletElement () {
      const base = this.$options.name
      return base.charAt(1).toLowerCase() + base.slice(2)
    },
    uid () {
      let base = this.id !== null ? this.id : 'vue-leaflet-' + this.leafletElement + '-' + this._uid
      return base.replace(/(?!^)([A-Z])/g, ' $1').replace(/[_\s]+(?=[a-zA-Z])/g, '-').toLowerCase()
    },
    // returns all arguments needed to instanciate the leaflet class
    leafletElementArgs () {
      let a = leafletProps[this.$options.name] ? leafletProps[this.$options.name].reduce((args, props) => {
        const val = this.$options.propsData[props]
        if (val) args.push(val)
        return args
      }, []) : []
      // inject options only if it contains a prop
      const elementProps = this.options ? Object.keys(this.options) : []
      if (elementProps.length) a.push(this.options)
      return a
    },
    // returns all events attached that are real leaflet events
    listeners () {
      return Object.keys(this.$listeners).reduce((lst, e) => {
        if (leafletEvents[this.$options.name] && leafletEvents[this.$options.name].includes(e)) lst.push(e)
        return lst
      }, [])
    }
  },
  watch: {
    popup (val, old) {
      if (this.layer) {
        if (val) this.bind('Popup', val, old)
        else if (old) this.layer.unbindPopup()
      }
    },
    tooltip (val, old) {
      if (this.layer) {
        if (val) this.bind('Tooltip', val, old)
        else if (old) this.layer.unbindTooltip()
      }
    }
  },
  methods: {
    // mount leaflet element
    init () {
      this.layer = L[this.leafletElement](...this.leafletElementArgs)
        .addTo(this.context)
      if (this.popup) this.bind('Popup', this.popup)
      if (this.tooltip) this.bind('Tooltip', this.tooltip)
      for (let e of this.listeners) {
        this.layer.on(e, (event) => this.$emit(e, event))
      }
      this.$nextTick(() => {
        this.$emit('ready', this.layer)
      })
    },
    // remove leaflet element
    destroy () {
      if (this.layer) {
        for (let e of this.listeners) {
          this.layer.off(e)
        }
        if (this.context) this.context.removeLayer(this.layer)
        else this.layer.remove()
        this.layer = null
        delete this.layer
      }
    },
    // to bind tooltip & popup
    bind (type, val, old) {
      const method = old ? `set${type}Content` : `bind${type}`
      if (Array.isArray(val)) this.layer[method](...val)
      else this.layer[method](val)
    }
  },
  mounted () {
    this.init()
  },
  beforeDestroy () {
    this.destroy()
  }
}
</script>
