<template lang="html">
  <div :id="id"><slot v-if="icon" /></div>
</template>

<script>
import L from 'leaflet'
import 'leaflet.awesome-markers/dist/leaflet.awesome-markers'
/**
 * Original plugin: https://github.com/lvoogdt/Leaflet.awesome-markers
 */
export default {
  name: 'LAwesomeMarker',
  inject: ['context'],
  props: {
    /**
     * Available options: https://github.com/lvoogdt/Leaflet.awesome-markers#properties
     */
    options: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      context: this.context ? this.context.layer : null
    }
  },
  computed: {
    id () {
      return 'vue-leaflet-awesome-marker-' + this._uid
    },
    icon () {
      const opts = Object.keys(this.options)
      return opts.length ? L.AwesomeMarkers.icon(this.options) : L.Icon.Default
    }
  },
  watch: {
    icon (val) {
      if (val && this.context) this.context.setIcon(this.icon)
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (this.icon && this.context) this.context.setIcon(this.icon)
    })
  }
}
</script>

<style lang="scss">
@import '../../assets/font-awesome/scss/font-awesome';
@import '../../assets/glyphicons-halflings/glyphicons';
@import '../../../node_modules/leaflet.awesome-markers/dist/leaflet.awesome-markers.css';
</style>
