<script>
import 'leaflet.markercluster/dist/leaflet.markercluster-src'
import LeafletLayer from '../../mixins/LeafletLayer.vue'
import LeafletOptStyle from '../../mixins/LeafletOptStyle'
/**
 * Options: https://github.com/Leaflet/Leaflet.markercluster#all-options
 */
export default {
  name: 'LMarkerClusterGroup',
  inject: ['context'],
  mixins: [
    LeafletLayer,
    LeafletOptStyle
  ]
}
</script>

<style lang="scss">
@import '../../../node_modules/leaflet.markercluster/dist/MarkerCluster.css';
@import '../../../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css';
</style>
