<template>
  <LMap
    height="100%"
    :zoom="14"
    style="background: #FFF">
    <LMapboxGL
      :url="url" />
  </LMap>
</template>

<script>
import LMap from './components/core/LMap'
import LMapboxGL from './components/plugins/LMapboxGL'
export default {
  name: 'app',
  components: {
    LMap,
    LMapboxGL
  },
  data () {
    return {
      url: 'https://api.maptiler.com/maps/basic/style.json?key=XXX'
    }
  }
}
</script>

<style media="screen">
  html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
